* text=auto
*.cmd text eol=crlf
*.bat text eol=crlf

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear

# Spring Boot specific
target/
bin/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Misc
.vscode/
.DS_Store
Thumbs.db
